**/_ReSharper.*
seesharp.moqingbirt/_ReSharper.seesharp.moqingbirt/
seesharp.moqingbirt/Mocks/bin
seesharp.moqingbirt/Mocks/obj
seesharp.moqingbirt/Mocks/StyleCop.Cache
seesharp.moqingbirt/seesharp.moqingbirt.GenerateMockClassesTask/bin
seesharp.moqingbirt/seesharp.moqingbirt.GenerateMockClassesTask/obj
seesharp.moqingbirt/seesharp.moqingbirt.TestBench/obj
seesharp.moqingbirt/seesharp.moqingbirt.TestBench/bin
seesharp.moqingbirt/packages
**/StyleCop.Cache
**/*.ncrunchsolution.user
**/StyleCop.Cache
seesharp.moqingbirt/seesharp.moqingbirt.GenerateMockClassesTask/StyleCop.Cache
seesharp.moqingbirt/seesharp.moqingbirt.TestBench/StyleCop.Cache
seesharp.moqingbirt/seesharp.moqingbirt.v11.suo
seesharp.moqingbirt/seesharp.moqingbirt/bin
seesharp.moqingbirt/seesharp.moqingbirt/obj
seesharp.moqingbirt/Specs/bin
seesharp.moqingbirt/Specs/obj
seesharp.moqingbirt/TestResults/seesharp.moqingbirt.TE.Tests.mdf
seesharp.moqingbirt/TestResults
seesharp.moqingbirt/seesharp.moqingbirt/StyleCop.Cache
